
body{
    background-color: rgb(250, 237, 217);
}

#cabecero{
    background-color: rgb(245, 232, 212);
    border-radius: 1em;
    display: flex;    
    flex-direction: column;
    align-items: center;

}

.botonescabecero{
    display: flex;

}

.logo{
    width: 20em;
    height: auto;
    margin-bottom: -1em;

}

.logo:hover{
    zoom: 120%;
    transition: 0.3s;
}



.iniciopag{
    margin: 2em;
    padding: 1.4em;
    background-color: rgb(250, 234, 209);
    border-radius: 1%;
    border: 1px solid black;
    border-radius: 1em;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}


.iniciopag:hover{
    background-color: rgb(251, 217, 19);
    transition: 1.5s;
}


.titulos{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    
}

.tarjeta{
    background-color: rgba(248, 242, 123, 0.547);
    padding: 8em;
    margin:3em;
    display: inline-block;
    position: static
}